<header class="d-flex justify-content-between align-items-center">
    <h1 class="logo">
      Claim<span class="text-primary">Portal</span>
    </h1>
  
    <div class="header-container">
      <div class="top-links" *ngIf="isLoggedIn; else guestLinks">
        <div class="user-links">
          <span>Welcome {{userData.firstN}} {{userData.lastN}} </span>
          <span>|</span>
          <a (click)="nav.toProfile()">Edit Profile </a>
          <span>|</span>
          <a (click)="nav.toContactUs()">Contact Us </a>
          <span>|</span>
          <a (click)="logout()">Logout </a>
        </div>
      
        <div class="menu-bar">
          <a (click)="nav.toDashboard()" class ="menu-item">Home </a>
          <a (click)="nav.toStartClaim()" class="menu-item">Start a Claim</a>
          <a (click)="nav.toSubmitDocuments()" class="menu-item">Submit Documents</a> &nbsp;
          <a (click)="nav.toFAQ()" class="menu-item">FAQ</a>
        </div>
      </div>
      
  
      <ng-template #guestLinks>
        <div class="top-links">
          <a (click)="nav.toHome()">Home </a>
          <span>|</span>
          <a (click)="nav.toLogin()"> Login </a>
          <span>|</span>
          <a (click)="nav.toContact()"> Contact Us</a>
        </div>
        <div class="menu-bar">
          <a (click)="nav.toStartClaim()" class="menu-item">Start a Claim</a>
          <a (click)="nav.toSubmitDocuments()" class="menu-item">Submit Documents</a> &nbsp;
          <a (click)="nav.toFAQ()" class="menu-item">FAQ</a>
        </div>
      </ng-template>
    </div>
    
    
  </header>
  