<header class="d-flex justify-content-between align-items-center">
    <h1 class="logo">
      Claim<span class="text-primary">Portal</span>
    </h1>
  
    <div class="header-container">
      <div class="top-links" *ngIf="isLoggedIn; else guestLinks">
        <div class="user-links">
          <span>Welcome {{userData.firstN}} {{userData.lastN}} </span>
          <span>|</span>
          <a (click)="navigateToProfile()">Edit Profile </a>
          <span>|</span>
          <a (click)="navigateToContact()">Contact Us </a>
          <span>|</span>
          <a (click)="logout()">Logout </a>
        </div>
      
        <div class="menu-bar">
          <a (click)="navigateToDashboard()" class ="menu-item">Home </a>
          <a (click)="navigateToStartClaim()" class="menu-item">Start a Claim</a>
          <a (click)="navigateToSubmitDocuments()" class="menu-item">Submit Documents</a> &nbsp;
          <a (click)="navigateToFAQ()" class="menu-item">FAQ</a>
        </div>
      </div>
      
  
      <ng-template #guestLinks>
        <div class="top-links">
          <a (click)="navigateToHomepage()">Home </a>
          <span>|</span>
          <a (click)="navigateToLogin()"> Login </a>
          <span>|</span>
          <a (click)="navigateToContact()"> Contact Us</a>
        </div>
        <div class="menu-bar">
          <a (click)="navigateToStartClaim()" class="menu-item">Start a Claim</a> 
          <a (click)="navigateToSubmitDocuments()" class="menu-item">Submit Documents</a>&nbsp;
          <a (click)="navigateToFAQ()" class="menu-item">FAQ</a>
        </div>
      </ng-template>
    </div>
    
    
  </header>
  