<div class="banner">
  <h2>CONTACT US</h2>
</div>

<div class="container">
  <h2>What would you like to talk to us about?</h2>

  <form>
    <select id="topic" [(ngModel)]="selectedTopic" name="selectedTopic">
      <option value="" disabled selected>Select a topic</option>
      <option value="1">Emergency Travel Assistance</option>
      <!--
      <option value="status">Claim Status and Billing</option>
      <option value="submit">Submit Bills or Documents</option>
      <option value="general">General Questions</option>
      <option value="feedback">Feedback and Compliments</option>
      <option value="billing">Billings</option>
      <option value="complaint">Complaints</option>
    -->
      <option value="appeal">Appeals</option>
    
    </select>
  </form>

  <!-- Emergency Travel Assistance -->
  <div *ngIf="selectedTopic === '1'">
    <h5>
      A request for Travel Assistance will be processed within a few hours. This form should not be used for urgent medical requests. If immediate assistance is required, please contact us using the emergency phone number found on your insurance documentation.
    </h5>
    <form #contactForm="ngForm" class="contact-form" (ngSubmit)="onSubmit()">
      <p>* Indicates a required field</p>

      <div class="form-row">
        <label for="policyNum">Policy Number:</label>
        <input type="text" id="policyNum" name="policyNum" [(ngModel)]="contactFormData.policyNum">
      </div>

      <div class="form-row">
        <label for="firstName">First Name: *</label>
        <input type="text" id="firstName" name="firstName" required [(ngModel)]="contactFormData.firstName">
      </div>

      <div class="form-row">
        <label for="lastName">Last Name: *</label>
        <input type="text" id="lastName" name="lastName" required [(ngModel)]="contactFormData.lastName">
      </div>

      <div class="form-row">
        <label for="dob">Date of Birth: *</label>
        <input type="date" id="dob" name="dob" required [(ngModel)]="contactFormData.dob">
      </div>

      <div class="form-row">
        <label for="claimNumber">Claim Number:</label>
        <input type="text" id="claimNumber" name="claimNumber" [(ngModel)]="contactFormData.claimNumber">
      </div>

      <div class="form-row">
        <label for="email">Email: *</label>
        <input type="email" id="email" name="email" required [(ngModel)]="contactFormData.email">
      </div>

      <div class="form-row">
        <label for="primaryPhone">Phone Number (where we can reach you): *</label>
        <input type="tel" id="primaryPhone" name="primaryPhone" required [(ngModel)]="contactFormData.primaryPhone">
      </div>

      <div class="form-row">
        <label for="otherPhone">Phone Number (other):</label>
        <input type="tel" id="otherPhone" name="otherPhone" [(ngModel)]="contactFormData.otherPhone">
      </div>

      <div class="form-row textarea-row">
        <label for="comments">What is your request / How can we assist you?
          Maximum of 2000 characters allowed. *</label>
        <textarea id="comments" name="comments" maxlength="2000" required [(ngModel)]="contactFormData.comments"></textarea>
      </div>

      <button type="submit" [disabled]="!contactForm.valid">Submit</button>
    </form>
  </div>

  <!-- Appeals -->
  <div *ngIf="selectedTopic === 'appeal'">
    <h5>APPEALS</h5>
    <p>ClaimPortal is committed to providing the highest level of customer satisfaction. Your feedback is important to us and will assist us as we strive to continuously improve our service delivery.</p>
    <h5>CUSTOMER COMPLANT RESOLUTION PROCESS</h5>
    <p>This is how the Quality Management department will handle your appeal.</p>
    <ol>
      <li>
        <h6>Acknowledgement</h6>
        <p>Once we receive your formal written request for appeal, we will acknowledge receipt and let you know when you can reasonably expect a response.</p>
      </li>
      <li>
        <h6>File review and investigation</h6>
        <p>Customer relations staff will conduct a careful review of your file, investigate service complaints thoroughly and impartially, and consult with the parties involved with and/or responsible for your concerns. Once completed, a recommendation is made and a decision rendered.</p>
      </li>
      <li>
        <h6>Resolution</h6>
        <p>Customer relations will communicate with you once a decision has been made.</p>
      </li>
    </ol>

    <p><strong>Note:</strong> Please review the other email categories in the above drop down menu before sending an appeal.</p>

    <form #contactForm="ngForm" class="contact-form">
      <p><em>* Indicates a required field</em></p>

      <div class="form-row">
        <label for="firstName">First Name: *</label>
        <input type="text" id="firstName" name="firstName" required [(ngModel)]="contactFormData.firstName">
      </div>

      <div class="form-row">
        <label for="lastName">Last Name: *</label>
        <input type="text" id="lastName" name="lastName" required [(ngModel)]="contactFormData.lastName">
      </div>

      <div class="form-row">
        <label for="dob">Date of Birth: *</label>
        <input type="date" id="dob" name="dob" required [(ngModel)]="contactFormData.dob">
      </div>

      <div class="form-row">
        <label for="claimNumber">Claim Number:</label>
        <input type="text" id="claimNumber" name="claimNumber" ngModel>
      </div>

      <div class="form-row">
        <label for="email">Email: *</label>
        <input type="email" id="email" name="email" required [(ngModel)]="contactFormData.email">
      </div>

      <div class="form-row">
        <label for="primaryPhone">Phone Number (where we can reach you): *</label>
        <input type="tel" id="primaryPhone" name="primaryPhone" required [(ngModel)]="contactFormData.primaryPhone">
      </div>

      <div class="form-row">
        <label for="otherPhone">Phone Number (other):</label>
        <input type="tel" id="otherPhone" name="otherPhone" ngModel>
      </div>

      <div class="form-row textarea-row">
        <label for="comments">Your question or comments (max 2000 chars): *</label>
        <textarea id="comments" name="comments" maxlength="2000" required ngModel></textarea>
      </div>

      <div class="form-row">
        <label for="attachments">Attach File: *</label>
        <input type="file" id="attachments" name="attachments" (change)="onFileChange($event)" multiple accept=".doc,.pdf,.zip,.pcx,.docx,.jpg,.jpeg,.jpe,.jfif,.gif,.tiff,.tif,.bmp,.png,.txt">
      </div>

      <p>
        Maximum of 10 files can be uploaded with combined max file size of 50 MB. <br>
        Accepted file types: doc, pdf, zip, pcx, docx, jpg, jpeg, jpe, jfif, gif, tiff, tif, bmp, png, txt.<br>
        Please ensure uploaded documents are <strong>not password protected</strong>.
      </p>

      <button type="submit" [disabled]="!contactForm.valid">Submit</button>
    </form>
  </div>

  <div class="contact-info">
    <div class="address">
      <h3>Claim PortalInc.</h3>
      <p>Street<br>City, Country<br>pin code</p>
    </div>

    <div class="address">
      <h3>Claim Portal Inc.</h3>
      <p>P.O. Box <br> City, Country<br>pincode</p>
    </div>

    <div class="assistance">
      <h3>If you need immediate assistance, please call:</h3>
      <p>Phone: <a href="tel:+18197801999">+1-888-999-1999</a></p>
      <p>Toll free: <a href="tel:+18552376911">+1-888-222-1111</a></p>
      <p>Fax: <a href="fax:+18195667710">+1-888-555-0010</a></p>
    </div>
  </div>
</div>