<div class="banner">
    <h2>START A CLAIM</h2>
</div>
<p>* Indicates a required field</p>

<div class="container">
    <form>
      <div class="form-group">
        <label for="claimType">Select type of claim:</label>
        <select id="claimType" [(ngModel)]="selectedTopic" name="selectedTopic">
          <option value="" disabled selected>Select a topic</option>
          <option value="1">Emergency Medical Travel</option>
          <option value="2">Visitors to Canada</option>
          <option value="3">Trip Cancellation/Interruption</option>
          <option value="4">Baggage/Flight Delay</option>
          <option value="5">Hotel/Motel Burglary</option>
          <option value="6">Student</option>
          <option value="7">Expatriate</option>
          <option value="8">Inpatriate</option>
        </select>
      </div>
    </form>
  
    <div *ngIf="selectedTopic === '1'">
      <form>
        <div class="form-group">
          <label for="traveling">Are you currently travelling? *</label>
          <select id="traveling">
            <option value="" disabled selected></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="traveling">Are you seeking or planning to seek medical attention? </label>
          <select id="medicalAttention" [(ngModel)]="isSeekingMedicalAttention" name="medicalAttention">
            <option value="" disabled selected></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div *ngIf="isSeekingMedicalAttention === 'yes'">
            <p>If you are currently travelling, seeking treatment, or planning to seek treatment please contact us at +1-819-780-1999, for toll-free number+1-855-237-6911</p>
        </div>
        <div *ngIf="isSeekingMedicalAttention === 'no'">
          <div class="form-group">
            <label for="province">Please select your providence of residence *</label>
            <select id="province" [(ngModel)]="selectedProvince" name="province" class="form-control">
              <option value="" disabled selected></option>
              <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="insuranceType">Insurance Type</label>
            <select id="insuranceType" [(ngModel)]="selectedInsurance" name="insuranceType" class="form-control">
              <option value="" disabled selected></option>
              <option *ngFor="let i of insurance" [value]="i">{{ i }}</option>
            </select>
          </div>
          <div class="note-box">
            <p><strong>Note:</strong> Before proceeding with the claim form, please carefully review the documents listed in the ‘Required Documents’ section on this page to ensure you have them readily available.</p>
          </div>
          <h4>POLICY HOLDER INFORMATION</h4>
          
        </div>


      </form>
    </div>
  </div>
  