
  

  .footer-container {
    background-color: #2d3b50;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
    border-top: 1px solid white;
    margin-top: 40px;
  }
  
  .footer-content {
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  
  .footer-left .logo {
    width: 120px;
  }
  
  .footer-center {
    text-align: center;
  }
  
  .footer-center .download-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .store-buttons img {
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .footer-right .mobile-app {
    width: 150px;
  }
  
  .footer-bottom {
    font-size: 15px;
    text-align: center;
    margin-top: auto;
    line-height: 1;
    background-color: #212b3b;
  }
