<app-header></app-header>
  
  <router-outlet></router-outlet>
  

  <!-- Footer Section -->
<div class="footer-container">
  <div class="footer-content">
    <div class="footer-left">
      <img src="assets/imgs/logo_footer.png" alt="Claim Logo" class="logo" />
    </div>

    <div class="footer-center">
      <p class="download-text">DOWNLOAD OUR TravelAID APP</p>
      <div class="store-buttons">
        <img src="assets/imgs/logo-appstore.png" alt="App Store" />
        <img src="assets/imgs/googleplay.png" alt="Google Play" />
      </div>
    </div>

    <div class="footer-right">
      <img src="assets/imgs/image.png" alt="Mobile App" class="mobile-app" />
    </div>
  </div>

  <div class="footer-bottom">
    <p>Claim Portal Inc. - All rights reserved &nbsp;  <strong>  Privacy Statement</strong> &nbsp;
      <strong>Terms and Conditions</strong>
    </p>

    <p>
      Claim Portal Inc. Street, City, Country Pincode &nbsp;
      Phone: <strong>+1-888-999-1999</strong> &nbsp;
      Or toll free: <strong>+1-888-222-1111</strong> &nbsp;
      Fax: <strong>+1-888-555-0010</strong>
    </p>
    <p>Claim Portal Inc. P.O. Box, city, Country pincode</p>
  </div>
</div>