.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
  }
  
  input[type='text'] {
    width: 400px;
    padding: 8px;
    margin-left: -80px;
    margin-top: 27px;
    gap:50px;
  }
  
  .policy-message,
  .status-message {
    margin-top: 10px;
    font-style: italic;
    color: #555;
  }
  
  .policy-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .policy-table th,
  .policy-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  

  body {
    font-family: Arial, sans-serif;
    margin: 40px;
  }
  label {
    display: inline-block;
    width: 100px;
  }
  input {
    width: 200px;
    margin-bottom: 20px;
    padding: 6px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #eee;
  }
  .note {
    font-style: italic;
    color: #444;
    margin-top: 15px;
  }
  .section {
    margin-top: 30px;
  }
  