.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
  }
  
  input[type='text'] {
    width: 400px;
    padding: 8px;
    margin-left: -80px;
    margin-top: 27px;
    gap:50px;
  }
  
  .policy-message,
  .status-message {
    margin-top: 10px;
    font-style: italic;
    color: #555;
  }
  
  .policy-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .policy-table th,
  .policy-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  