html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Banner*/
.banner {
    background: linear-gradient(135deg, #124983,  #1b2a3a);
    color: white;
    padding: 60px 0;
    padding-left: 30px;
    margin-bottom: 30px;
    text-align: left;
  }
  .banner h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
  }

  body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
  }
  
